<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.carpool.dao.ApiSchedulingMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.carpool.entitycarpool.SchedulingCarpoolVo" id="schedulingMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="imUserId" column="im_user_id"/>
        <result property="fromAddressId" column="from_address_id"/>
        <result property="toAddressId" column="to_address_id"/>
        <result property="schedulingCycle" column="scheduling_cycle"/>
        <result property="weekNum" column="week_num"/>
        <result property="arriveTime" column="arrive_time"/>
        <result property="subject" column="subject"/>
        <result property="status" column="status"/>
        <result property="contractId" column="contract_id"/>
        <result property="estTime" column="est_time"/>
        <result property="createTime" column="create_time"/>
        
    </resultMap>

    <select id="queryObject" resultMap="schedulingMap">
		select * from nideshop_scheduling where id = #{value}
	</select>

    <select id="queryList" resultMap="schedulingMap">
        select * from nideshop_scheduling
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="arriveTime != null">
                and arrive_time = #{arriveTime}
            </if>
            <if test="startArriveTime != null">
                and arrive_time >= #{startArriveTime}
            </if>
            <if test="endArriveTime != null">
                and arrive_time &lt;= #{endArriveTime}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
		select count(*) from nideshop_scheduling
		<where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="arriveTime != null">
                and arrive_time = #{arriveTime}
            </if>
            <if test="startArriveTime != null">
                and arrive_time >= #{startArriveTime}
            </if>
            <if test="endArriveTime != null">
                and arrive_time &lt;= #{endArriveTime}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
	</select>

    <insert id="save" parameterType="com.carpool.entitycarpool.SchedulingCarpoolVo" useGeneratedKeys="true" keyProperty="id">
		insert into nideshop_scheduling
		(
			`user_id`,
			`im_user_id`,
			`from_address_id`,
			`to_address_id`,
			`scheduling_cycle`,
			`week_num`,
			`arrive_time`,
			`contract_id`,
			`subject`,
			`status`,
			`est_time`,
			`create_time`
		)
		values
		(
			#{userId},
			#{imUserId},
			#{fromAddressId},
			#{toAddressId},
			#{schedulingCycle},
			#{weekNum},
			#{arriveTime},
			#{contractId},
			#{subject},
			#{status},
			#{estTime},
			#{createTime}
		)
	</insert>

    <update id="update" parameterType="com.carpool.entitycarpool.SchedulingCarpoolVo">
        update nideshop_scheduling
        <set>
            <if test="userId != null">`user_id` = #{userId},</if>
            <if test="imUserId != null">`im_user_id` = #{imUserId},</if>
            <if test="fromAddressId != null">`from_address_id` = #{fromAddressId},</if>
            <if test="toAddressId != null">`to_address_id` = #{toAddressId},</if>
            <if test="schedulingCycle != null">`scheduling_cycle` = #{schedulingCycle},</if>
            <if test="weekNum != null">`week_num` = #{weekNum},</if>
            <if test="arriveTime != null">`arrive_time` = #{arriveTime},</if>
            <if test="contractId != null">`contract_id` = #{contractId},</if>
            <if test="subject != null">`subject` = #{subject},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="estTime != null">`est_time` = #{estTime}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
		delete from nideshop_scheduling where id = #{value}
	</delete>

    <delete id="deleteBatch">
        delete from nideshop_scheduling where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>