<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.carpool.dao.ApiUserFriendMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.carpool.entitycarpool.UserFriendCarpoolVo" id="friendMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="fuserId" column="fuser_id"/>
        <result property="fremarkName" column="fremark_name"/>
    </resultMap>

    <select id="queryObject" resultMap="friendMap">
		select * from nideshop_user_friend where id = #{value}
	</select>

    <select id="queryList" resultMap="friendMap">
        select * from nideshop_user_friend
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="fuserId != null">
                and fuser_id = #{fuserId}
            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
		select count(*) from nideshop_user_friend
		<where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="fuserId != null">
                and fuser_id = #{fuserId}
            </if>
        </where>
	</select>

    <insert id="save" parameterType="com.carpool.entitycarpool.UserFriendCarpoolVo" useGeneratedKeys="true" keyProperty="id">
		insert into nideshop_user_friend
		(
			`user_id`,
			`fuser_id`,
			`fremark_name`
		)
		values
		(
			#{userId},
			#{fuserId},
			#{fremarkName}
		)
	</insert>

    <update id="update" parameterType="com.carpool.entitycarpool.UserFriendCarpoolVo">
        update nideshop_user_friend
        <set>
            <if test="userId != null">`user_id` = #{userId},</if>
            <if test="fuserId != null">`fuser_id` = #{fuserId},</if>
            <if test="fremarkName != null">`fremark_name` = #{fremarkName}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
		delete from nideshop_user_friend where id = #{value}
	</delete>

    <delete id="deleteBatch">
        delete from nideshop_user_friend where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>